
*.pyc

psyutils.sublime-project

psyutils.sublime-workspace

.idea*

tests/test_data/tmp.png

tmp.png

psyutils/example_calling_axes.py

*-checkpoint.ipynb

distortions.ipynb

filter_tests.ipynb

Misc functions testing.ipynb

Rect_in_rect.ipynb

Sloan letters.ipynb

testing_image_utilities.ipynb

window tests.ipynb

write_tests.ipynb

build/lib/*

.coverage
